<app-header></app-header>

<main class="container py-4">
  <app-search-movie (movieSearchOutput)="searchMovie($event, 1)" (resetOutput)="reset($event)"></app-search-movie>

  <div class="row title text-center" *ngIf="movieList.length == 0 && !selectedMovie">
    <div class="col-md-12">
      <h1>Your Quick Movie Finder</h1>
      <p>Unleash the Power of Search with This Easy-to-Use Movie Database Explorer</p>
    </div>
  </div>

  <app-movie-list [movieList]="movieList" (movieSelected)="getMovie($event)"></app-movie-list>

  <nav aria-label="Page navigation" class="navigation" *ngIf="totalResults > 10 && movieList.length > 0">
    <ul class="pagination justify-content-center">
      <li class="page-item active"><a class="page-link" [class.disabled]="page === 1" (click)="page > 1 && prevPage()">previous</a></li>
      <li class="page-item disabled">
        <p>{{ page }} of {{ totalPages }} pages</p>
      </li>
      <li class="page-item active"><a class="page-link" [class.disabled]="page === totalPages" (click)="page < totalPages && nextPage()">next</a></li>
    </ul>
  </nav>

  <app-pagination></app-pagination>

  <app-movie *ngIf="selectedMovie" [movie]="selectedMovie"></app-movie>
</main>
