<app-header></app-header>

<main class="container py-4">
  <app-search-movie (movieSearchOutput)="searchMovie($event, 1)" (resetOutput)="reset($event)"></app-search-movie>

  <div class="row title text-center" *ngIf="movieList.length == 0 && !selectedMovie">
    <div class="col-md-12">
      <h1>Your Quick Movie Finder</h1>
      <p>Unleash the Power of Search with This Easy-to-Use Movie Database Explorer</p>
    </div>
  </div>

  <app-movie-list [movieList]="movieList" (movieSelected)="getMovie($event)"></app-movie-list>

  <app-pagination
    [page]="page"
    [movieList]="movieList"
    [totalResults]="totalResults"
    (prevOutput)="prevPage()"
    (nextOutput)="nextPage()"></app-pagination>

  <app-movie *ngIf="selectedMovie" [movie]="selectedMovie"></app-movie>
</main>
