:host {
  display: block;
}

form {
  .input-group {
    input {
      border: 1px solid #243955;
      background: rgba(40, 65, 96, 0.19);
      border-radius: 12px !important;
      height: 45px;
      color: #e2e8ee;
      font-family: Poppins;
      font-size: 15px;
      font-weight: 400;
      z-index: 1;
      &::placeholder {
        color: #afb8c2;
        font-size: 15px;
        font-weight: 275;
      }
    }
    button.reset {
      background: #1b2d4b00;
      border: 0;
      position: absolute;
      top: 0;
      right: 0;
      font-size: 23px;
      z-index: 2;
    }
    .bi-search {
    }
  }
}

.title {
  margin-top: 30px;
  h1 {
    color: #fff;
    font-family: Poppins;
    font-size: 35px;
    font-weight: 300;
  }
  p {
    color: #fff;
    font-family: Poppins;
    font-size: 19px;
    font-weight: 300;
  }
}

.navigation {
  ul {
    margin-top: 30px;
    li {
      a {
        border-radius: 10px;
        background: #2d4b6e;
        color: #eaedf0;
        text-align: center;
        font-family: Poppins;
        font-size: 14px;
        font-weight: 700;
        padding: 8px 30px;
        border: 0;
        cursor: pointer;
        transition: all 0.35s ease-in-out;
        &.disabled {
          opacity: 0.5;
        }

        &:hover {
          background-color: #3f5e82;
        }
      }
      &.disabled {
        padding: 0 20px;
        display: flex;
        align-items: center;
        p {
          color: #eaedf0;
          text-align: center;
          font-family: Poppins;
          font-size: 14px;
          font-weight: 700;
          margin: 0;
        }
      }
    }
  }
}

ul.movieList {
  margin-top: 30px;
  li {
    flex: 0 0 20%;
    max-width: 20%;
    position: relative;
    padding: 10px;
    a {
      cursor: pointer;
      display: block;
      overflow: hidden;
      &:hover {
        .text {
          bottom: 40px !important;
        }
        img {
          transform: scale(1.1) !important;
        }
      }
      .hover {
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(12, 16, 24, 0) 0%, rgba(12, 16, 24, 0.88) 81.33%, #0c1018 100%);
        height: 100%;
        width: 100%;
        display: block;
        text-align: center;
        z-index: 2;
        .text {
          position: absolute;
          bottom: 20px;
          left: 0;
          width: 100%;
          transition: all 0.5s ease-in-out;
          .movieTitle {
            color: #eaedf0;
            font-family: Poppins;
            font-size: 14px;
            font-weight: 700;
          }
          .movieYear {
            color: #90969d;
            font-family: Poppins;
            font-size: 14px;
            font-weight: 400;
          }
        }
      }
      img {
        width: 100%;
        height: auto;
        position: relative;
        z-index: 1;
        transition: all 0.7s ease-in-out;
      }
    }
  }
}
