<div class="row mx-auto">
  <div class="col-md-5 poster">
    <img src="{{ movie.Poster }}" alt="Movie Poster" class="img-fluid" />
  </div>
  <div class="col-md-7 textWrap">
    <h2>
      {{ movie.Title }}
      <span class="year">
        {{ movie.Year }}
      </span>
    </h2>
    <p>
      {{ movie.Plot }}
    </p>
    <p>
      <b>Starring:</b>
      {{ movie.Actors }}
    </p>
    <p>
      <b>Rating:</b>
      <span class="stars">
        <span *ngFor="let star of stars">
          <i
            class="bi"
            [ngClass]="{
              'bi-star-fill': star === 'full',
              'bi-star-half': star === 'half',
              'bi-star': star === 'empty'
            }"></i>
        </span>
      </span>
    </p>

    <button type="button" class="btn btn-outline-primary">Add to Favorites</button>
  </div>
</div>
