<div class="row">
  <div class="col-md-6">
    <h2>Movie Details</h2>
    <p>
      <b>Title:</b>
      {{ movieName }}
    </p>
    <p>
      <b>Synopsis:</b>
      {{ movieSynopsis }}
    </p>
    <p>
      <b>Starring:</b>
      {{ movieActor }}
    </p>
    <p>
      <b>Review:</b>
      {{ movieReview }}
    </p>
    <button type="button" class="btn btn-outline-primary">Add to Favorites</button>
  </div>
  <div class="col-md-6">
    <img src="{{ moviePosterUrl }}" alt="Movie Poster" class="img-fluid" />
  </div>
</div>
