form {
  .input-group {
    display: flex;
    gap: 10px;
    @media (max-width: 450px) {
      flex-direction: column;
    }
    .bi-search {
      font-size: 19px;
      color: #afb8c2;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      padding: 10px;
    }
    .input-text {
      border: 1px solid #243955;
      background: rgba(40, 65, 96, 0.19);
      border-radius: 12px !important;
      height: 45px;
      color: #e2e8ee;
      font-family: Poppins;
      font-size: 15px;
      font-weight: 400;
      z-index: 1;
      padding-left: 40px;
      @media (max-width: 450px) {
        width: 100%;
      }
      &::placeholder {
        color: #afb8c2;
        font-size: 15px;
        font-weight: 275;
      }
    }
    .btn-search {
      width: 150px;
      height: 45px;
      flex-shrink: 0;
      color: #afb8c2;
      font-family: Poppins;
      font-size: 15px;
      font-weight: 400;
      border-radius: 12px !important;
      border: 1px solid #243955;
      background: #2e4b6e;
      display: none;
      @media (max-width: 1024px) {
        display: block;
      }
      @media (max-width: 450px) {
        width: 100%;
      }
    }
    button.reset {
      background: #1b2d4b00;
      border: 0;
      position: absolute;
      top: 0;
      right: 0;
      font-size: 23px;
      z-index: 2;
      @media (max-width: 1024px) {
        right: 160px;
      }
      @media (max-width: 450px) {
        right: 0;
      }
    }
    .bi-search {
    }
  }
}
